In [1]:
! pip install dnspython
! pip install pymongo[srv]

Collecting dnspython
  Downloading dnspython-2.2.1-py3-none-any.whl (269 kB)
     |████████████████████████████████| 269 kB 5.4 MB/s
Installing collected packages: dnspython
Successfully installed dnspython-2.2.1
Requirement already satisfied: pymongo[srv] in /usr/local/lib/python3.7/dist-packages (4.0.2)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /usr/local/lib/python3.7/dist-packages (from pymongo[srv]) (2.2.1)

In [2]:
import pymongo

In [3]:

client = pymongo.MongoClient("mongodb+srv://Renita:renita@cluster0.f7u27.mongodb.net/myFirstDatabase?retryWrites=true&w=majority")
db = client.students

In [6]:
import json
with open("/content/students.json") as file:
  s_data=json.loads("[" +
                file.read().replace("}\n{","},\n{")+
                "]")
records= db.Students_Data

**1)Find the student name who scored maximum scores in all (exam, quiz and homework)?**

In [9]:
Max_exam=records.aggregate([{"$unwind":"$scores"},{"$match":{"scores.type":"exam"}},{"$group":{"_id":"null","Max_marks":{"$max":"$scores.score"}}}])
Max_marks=0
for i in Max_exam:
  Max_marks=i["Max_marks"]
Max=records.find({"scores.score":Max_marks},{"_id":1,"name":1})
for i in Max:
  Name=i['name']
  print(f'The student who scored the maximum mark of {Max_marks} in Exam is {Name}')
Max_Quiz=records.aggregate([{"$unwind":"$scores"},{"$match":{"scores.type":"quiz"}},{"$group":{"_id":"null","Max_marks":{"$max":"$scores.score"}}}])
Max_marks=0
for i in Max_Quiz:
  Max_marks=i["Max_marks"]
Max=records.find({"scores.score":Max_marks},{"_id":1,"name":1})
for i in Max:
  Name=i['name']
  print(f'The student who scored the maximum mark of {Max_marks} in Quiz is {Name}')
Max_home=records.aggregate([{"$unwind":"$scores"},{"$match":{"scores.type":"homework"}},{"$group":{"_id":"null","Max_marks":{"$max":"$scores.score"}}}])
Max_marks=0
for i in Max_home:
  Max_marks=i["Max_marks"]
Max=records.find({"scores.score":Max_marks},{"_id":1,"name":1})
for i in Max:
  Name=i['name']
  print(f'The student who scored the maximum mark of {Max_marks} in Homework is {Name}')

The student who scored the maximum mark of 99.33685767140612 in Exam is Margart Vitello
The student who scored the maximum mark of 99.80348240553108 in Quiz is Cody Strouth
The student who scored the maximum mark of 99.77237745070993 in Homework is Whitley Fears

**2)Find students who scored below average in the exam and pass mark is 40%?**

In [17]:
Avg_Marks=records.aggregate([{"$unwind":"$scores"},{"$match":{"scores.type":"exam"}},{"$group":{"_id":"null","Avg_Mark":{"$avg":"$scores.score"}}}])
for i in Avg_Marks:
  Avg_Mark=i["Avg_Mark"]
Below_Avg=records.aggregate([{"$unwind":"$scores"},{"$match":{"scores.type":"exam"}},{"$match":{"scores.score":{"$lt":Avg_Mark}}}])
for i in Below_Avg:
  print(i['name'])

Jenette Flanders
Daphne Zheng
Dodie Staller
Tressa Schwing
Rosana Vales
Tamika Schildgen
Edgar Sarkis
Laureen Salomone
Tandra Meadows
Kayce Kenyon
Joaquina Arbuckle
Leola Lundin
Echo Pippins
Ty Barbieri
Tania Hulett
Bao Ziglar
Sanda Ryba
Verdell Sowinski
Gisela Levin
Tamika Schildgen
Jonie Raby
Tandra Meadows
Gwen Honig
Alica Pasley
Malisa Jeanes
Grady Zemke
Merissa Mann
Harriett Velarde
Leonida Lafond
Devorah Smartt
Len Treiber
Echo Pippins
Timothy Harrod
Fletcher Mcconnell
Gisela Levin
Jonie Raby
Gwyneth Garling
Carli Belvins
Mariette Batdorf
Alica Pasley
Jenise Mcguffie
Len Treiber
Toshiko Sabella
Cassi Heal
Darby Wass
Jenette Flanders
Salena Olmos
Denisha Cast
Rosana Vales
Laureen Salomone
Sadie Jernigan
Ernestine Macfarland
Kurtis Jiles
Tonisha Games
Denisha Cast
Alix Sherrill
Kaila Deibler
Synthia Labelle
Richelle Siemers
Ernestine Macfarland
Barbera Lippman
Malisa Jeanes
Chad Rahe
Rubie Winton
Kim Xu
Santiago Dollins
Tonisha Games
Brain Lachapelle
Ta Sikorski
Lucinda Vanderburg
Omar Bowdoin
Demarcus Audette
Karry Petrarca
Flora Duell
Aurelia Menendez
Fletcher Mcconnell
Kaila Deibler
Dinah Sauve
Elizabet Kleine
Mariela Sherer
aimee Zank
Wilburn Spiess
Aleida Elsass
Terica Brugger
Lady Lefevers
Danika Loeffler
Dusti Lemmond
Cody Strouth
Harriett Velarde
aimee Zank
Quincy Danaher
Alix Sherrill
Jesusa Rickenbacker
Rudolph Domingo
Gwyneth Garling
Synthia Labelle
Aleida Elsass
Barbera Lippman
Joel Rueter
Joaquina Arbuckle
Rubie Winton
Whitley Fears
Kim Xu
Cody Strouth

**3)Find students who scored below pass mark and assigned them as fail, and above pass mark as pass in all the categories**

In [19]:
Result1=records.aggregate([{"$unwind":"$scores"},{"$match":{"scores.type":"exam"}},{"$match":{"scores.score":{"$lt":40}}}])
for i in Result1:
  records.update_one({"_id":i["_id"]},{"$push":{"Result.Result_Exam":"Fail"}})
Result2=records.aggregate([{"$unwind":"$scores"},{"$match":{"scores.type":"exam"}},{"$match":{"scores.score":{"$gte":40}}}])
for i in Result2:
  records.update_one({"_id":i["_id"]},{"$push":{"Result.Result_Exam":"Pass"}})
Result3=records.aggregate([{"$unwind":"$scores"},{"$match":{"scores.type":"quiz"}},{"$match":{"scores.score":{"$lt":40}}}])
for i in Result3:
  records.update_one({"_id":i["_id"]},{"$push":{"Result.Result_Quiz":"Fail"}})
Result4=records.aggregate([{"$unwind":"$scores"},{"$match":{"scores.type":"quiz"}},{"$match":{"scores.score":{"$gte":40}}}])
for i in Result4:
  records.update_one({"_id":i["_id"]},{"$push":{"Result.Result_Quiz":"Pass"}})
Result5=records.aggregate([{"$unwind":"$scores"},{"$match":{"scores.type":"homework"}},{"$match":{"scores.score":{"$lt":40}}}])
for i in Result5:
  records.update_one({"_id":i["_id"]},{"$push":{"Result.Result_HW":"Fail"}})
Result6=records.aggregate([{"$unwind":"$scores"},{"$match":{"scores.type":"homework"}},{"$match":{"scores.score":{"$gte":40}}}])
for i in Result6:
  records.update_one({"_id":i["_id"]},{"$push":{"Result.Result_HW":"Pass"}})

**4)Find the total and average of the exam, quiz and homework and store them in a separate collection**

create average collection

In [20]:
Average =db.average

In [21]:
Exam_Avg=records.aggregate([{"$unwind":"$scores"},{"$match":{"scores.type":"exam"}},{"$group":{"_id":"null","Avg_Exam":{"$avg":"$scores.score"}}}])
for i in Exam_Avg:
  Avg_Exam=i["Avg_Exam"]
Quiz_Avg=records.aggregate([{"$unwind":"$scores"},{"$match":{"scores.type":"quiz"}},{"$group":{"_id":"null","Avg_Quiz":{"$avg":"$scores.score"}}}])
for i in Quiz_Avg:
  Avg_Quiz=i["Avg_Quiz"]
Homewrk_Avg=records.aggregate([{"$unwind":"$scores"},{"$match":{"scores.type":"homework"}},{"$group":{"_id":"null","Avg_HW":{"$avg":"$scores.score"}}}])
for i in Homewrk_Avg:
  Avg_HW=i["Avg_HW"]
Avg=[{'Type':"Exam","Avg":Avg_Exam},{'Type':"Quiz","Avg":Avg_Quiz},{'Type':"HW","Avg":Avg_HW}]
Average.insert_many(Avg)

create total collection

In [22]:
Total = db.tol

In [23]:
Exam_Total=records.aggregate([{"$unwind":"$scores"},{"$match":{"scores.type":"exam"}},{"$group":{"_id":"null","Total_Exam":{"$sum":"$scores.score"}}}])
for i in Exam_Total:
  Total_Exam=i["Total_Exam"]
Quiz_Total=records.aggregate([{"$unwind":"$scores"},{"$match":{"scores.type":"quiz"}},{"$group":{"_id":"null","Total_Quiz":{"$sum":"$scores.score"}}}])
for i in Quiz_Total:
  Total_Quiz=i["Total_Quiz"]
Homewrk_Total=records.aggregate([{"$unwind":"$scores"},{"$match":{"scores.type":"homework"}},{"$group":{"_id":"null","Total_HW":{"$sum":"$scores.score"}}}])
for i in Homewrk_Total:
  Total_HW=i["Total_HW"]
Total_search=[{'Type':"Exam","Total":Total_Exam},{'Type':"Quiz","Total":Total_Quiz},{'Type':"HW","Total":Total_HW}]
Total.insert_many(Total_search)

**5)Create a new collection which consists of students who scored below average and above 40% in all the categories**

create new collection bel_avge

In [54]:
BAvg_Pass = db.BAvg_Pass

In [ ]:
BAvg_Pass=records.aggregate([{"$unwind":"$scores"},{"$match":{"scores.type":"exam"}},{"$match":{"scores.score":{"$gt":40,"$lt":Avg_Exam}}}])
for i in BAvg_Pass:
  Name=i['name']
  Type=i['scores']['type']
  BAvg_Pass .insert_one({'Name':Name,'Type':Type})

In [ ]:
BAvg_Pass=records.aggregate([{"$unwind":"$scores"},{"$match":{"scores.type":"quiz"}},{"$match":{"scores.score":{"$gt":40,"$lt":Avg_Quiz}}}])
for i in BAvg_Pass:
  Name=i['name']
  Type=i['scores']['type']
  BAvg_Pass.insert_one({'Name':Name,'Type':Type})

In [ ]:
BAvg_Pass=records.aggregate([{"$unwind":"$scores"},{"$match":{"scores.type":"homework"}},{"$match":{"scores.score":{"$gt":40,"$lt":Avg_HW}}}])
for i in BAvg_Pass:
  Name=i['name']
  Type=i['scores']['type']
  BAvg_Pass.insert_one({'Name':Name,'Type':Type})

**6)Create a new collection which consists of students who scored below the fail mark in all the categories**

In [58]:
Fail_all = db.Fail_all

In [62]:
Fail=records.aggregate([{"$unwind":"$scores"},{"$match":{"scores.type":"exam"}},{"$unwind":"$Result"},{"$match":{"Result.Result_Exam":"Fail"}},
                        {"$match":{"Result.Result_Quiz":"Fail"}},{"$match":{"Result.Result_HW":"Fail"}}])
for x in Fail:
  Name=i['name']
  Fail_all.insert_one({'Name':Name})

**7)Create a new collection which consists of students who scored above pass mark in all the categories**

In [60]:
Pass_all = db.Pass_all

In [63]:
Pass=records.aggregate([{"$unwind":"$scores"},{"$match":{"scores.type":"exam"}},{"$unwind":"$Result"},{"$match":{"Result.Result_Exam":"Pass"}},
                        {"$match":{"Result.Result_Quiz":"Pass"}},{"$match":{"Result.Result_HW":"Pass"}}])
for a in Pass:
  Name=i['name']
  Pass_all.insert_one({'Name':Name})